<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <title>{{ site.title }}</title>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>
    <header>
      <div class="head-container">
        <img id="eehs-img" src="/assets/images/eehs.png"></img>
	<div class="head">
          <a class="home-head-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
          </a>
          <h2 class="head-desc">{{ site.description | default: site.github.project_tagline }}</h2>
	</div>

	<div class="links-container">
	  <div class="links">
	    <a class="link-icon" href="https://github.com/eehs" target="_blank">
	      <img id="github-img" src="/assets/images/github.png"></img>
            </a>
	    <a class="link-icon" href="https://app.hackthebox.com/profile/486143" target="_blank">
	      <img id="htb-img"></img>
	    </a>
	  </div>
	</div>
      </div>
    </header>

    <nav class="navbar">
      <ul class="navbar-links">
        <li class="navbar-item"><a href="/">Home</a></li>
        <li class="navbar-item"><a href="/about">About</a></li>

	<script>
	  let navbar_items = document.getElementsByClassName("navbar-item");

	  for (let i = 0; i < navbar_items.length; i++) {

	    if (navbar_items[i].children[0].href == window.location.href) {
	      let navbar_item_a_tag = navbar_items[i].children[0];

              if (navbar_item_a_tag.href == window.location.href) {
                navbar_items[i].style.backgroundColor = "#91b744";
		navbar_items[i].style.boxShadow = "none"; 

                navbar_item_a_tag.style.color = "#262626";
                navbar_item_a_tag.style.textDecoration = "none";
		navbar_item_a_tag.style.textShadow = "0 0 5px rgba(38, 38, 38, 0.5)";
              }
	    }
	  }
	</script>

      </ul>
    </nav>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
